body{
    margin:0px;
    padding:0px;
    background-color: #69779b;
}


.navbarContents{
    background-color: #33313b;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbarContents a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    padding:20px;
    font-weight: bold;
}

.navbarContents button{
    text-decoration: none;
    background-color: #33313b;
    color:white;
    font-size: 20px;
    padding:20px;
    font-weight: bold;
    cursor: pointer;
    border:1px solid #33313b;
}

.navbarContents button:hover{
    background-color: #3c4f65;
    position:relative;
    left:4px;
    font-size:22px;
}

.navbarContents a:hover{
    background-color: #3c4f65;
    position:relative;
    left:4px;
    font-size:22px;
}

.LandingImage{
    width:100%;
    height:1000px;
}

.LandingImageContainer{
    width:100%;
    margin:auto auto;
    height:100px;
    opacity: 0.9;
    position:relative;
}

.LandingImageContainer h1{
    color:#ffffff;
    position:absolute;
    left:3%;
    top:90%;
    font-size:70px;
}

.signUpFormContents{
    padding:30px;
}

.signUpFormContents h2{
    color:white;
    font-weight: bold;
}

.signUpFormContents form{
    background-color: #404b69;
    color:white;
    padding:30px;
    display: inline-block;
    border-radius: 20px;
    width:70%;
    font-size: 20px;
    box-shadow: 1px 1px 3px 3px  #23103a;
}

.signUpFormContents form input{
    padding:10px;
    font-size: 20px;
    width:70%;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px  #23103a;
}

.signUpFormContents form button{
    padding:10px;
    font-size: 20px;
    border-radius: 14px;
    box-shadow: 1px 1px 1px 1px  #23103a;
    width: 70%;
    cursor:button;
}

/* .signUpFormContents form input,label,button{
    font-size: 24px;
} */

/*........................*/

.logInFormContents{
    padding:30px;
    
}
.logInFormContents h2{
    color:white;
    font-weight: bold;
}

.logInFormContents form{
    background-color: #404b69;
    color:white;
    padding:24px;
    display: inline-block;
    border-radius: 20px;
    width:70%;
    font-size: 24px;
    box-shadow: 1px 1px 3px 3px  #23103a;
}

.logInFormContents form input{
    padding:10px;
    font-size: 20px;
    width:70%;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px  #23103a;
}

.logInFormContents form button{
    padding:10px;
    font-size: 20px;
    border-radius: 14px;
    box-shadow: 1px 1px 1px 1px  #23103a;
    width: 70%;
    cursor:pointer;
}

/* .logInFormContents form input,label,button{
    font-size: 24px;
} */

.blogInput{
    width:74%;
    height:130px;
    margin:10px;
    margin-top: 10px;
    margin-left: 7px;
    margin-right: 0px;
    background-color: #f5efef;
    font-weight: bold;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 1px 1px 1px 1px #23103a;
}

.blogInput::placeholder{
    font-size: 20px;
}

.blogInputSubmit{
    padding:10px;
    font-size: 20px;
    display:block;
    margin-left: 4px;
    width:30%;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #23103a;
    font-weight: bold;
}

.blogListRender{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    margin:14px;
}

.eachBlog{
    background-color: #404b69;
    color:white;
    padding:10px;
    word-break: break-all;
    border-radius: 20px;
    box-shadow: 1px 1px 4px 4px  #23103a;
}

.eachBlog:hover{
    position:relative;
    left:3px;
    top:3px;
    box-shadow:1px 1px 7px 7px #23103a;;
}
.eachBlog h3{
    margin-top: 0px;
}

.blogContents p{
    text-align: center;
    color:white;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width:550px){
    .blogListRender{
        grid-template-columns: 1fr;
    }
}